* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter Tight", sans-serif;
}

li,
a {
	list-style-type: none;
	text-decoration: none;
	color: white;
	font-weight: bold;
}
header {
	display: flex;
	justify-content: space-between;
	background-color: #588157;
	padding: 0 2rem;
	align-items: center;
	height: 8vh;
}
nav {
	width: 30%;
	display: flex;
	align-items: center;
}
ul {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
.hero {
	background-image: url("./hero.jpg");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	position: relative;
}

.hero-text-container {
	position: absolute;
	left: 10%;
	color: white;
}
.hero-text-container h1 {
	font-size: 5rem;
}
.hero-text-container h3 {
	font-size: 2rem;
	margin: 0.3rem 0;
}
.hero-text-container button {
	width: 10rem;
	height: 2rem;
	outline: none;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	transition: all ease 0.3s;
}

.hero-text-container button:hover {
	background-color: rgb(0, 0, 0);
	color: white;
}

.section-one {
	background-color: #ccd5ae;
	display: flex;
	flex-direction: column;
	padding: 0 4rem;
	min-height: 60vh;
	display: flex;
	justify-content: center;
}
.wrapper {
	background: rgba(255, 255, 255, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.25);
	padding: 3rem;
}
.section-one div {
	margin: 0.8rem 0;
}
.section-one h2 {
	/* background-color: red; */
	font-size: 2rem;
	margin: 0.3rem 0;
}

.section-one p {
	font-size: 16px;
}
.section-one ul li strong {
	font-size: 20px;
}
.section-one ul li {
	background: rgba(255, 255, 255, 0.5);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	margin: 0.2rem;
	padding: 0.8rem;
	color: black;
}

@media screen and (max-width: 700px) {
	.section-one {
		height: auto;
	}
	.hero-text-container h1 {
		font-size: 2rem;
	}
	.hero-text-container h3 {
		font-size: 1rem;
	}
	.section-one {
		padding: 0 2rem;
	}
	.section-one ul {
		display: flex;
		flex-direction: column;
	}
}
footer {
	display: flex;
	justify-content: center;
	text-align: center;
	/* height: 10vh; */
	background-color: #588157;
	padding: 3rem 0;
}
footer li,
a {
	color: black;
}
footer .row {
	display: flex;
	text-align: start;
}
footer .row .col {
	width: 100%;
}
footer .foot {
	/* height: 100%; */
	padding: 1rem 0;
}
